<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Overview<br><em></em></h1>
                </div>
                <p>Without warning, a healthy, 28-year-old, Philippine-American woman was crippled with aching joints. Her face became inflamed and discolored, especially when she went into the sunlight. Her immune system was engaged in a form of friendly fire. Instead of attacking viruses and bacteria, it was targeting her cells. Diagnosed with an autoimmune disease called systemic lupus erythematosus, she was given drugs to suppress her runaway immune system. But they didn’t work – in large part because she did not believe in either the treatment or in the powers of the Western-trained physicians.</p>
                <br>
                <p>When her doctor recommended a more aggressive course of treatment, using higher doses of the drug, she rejected that advice and returned to her native Philippines, where she sought the counsel of the local witch doctor. His treatment? He removed a curse that had been placed upon her. When she returned to the USA, the same physician who had made the original diagnosis evaluated her, and she was found to be free of all symptoms of lupus.</p>
                <br>
                <p>There are two things remarkable about this case report. First, it was neither published in The National Inquirer nor in any other sensational tabloid. Instead, it was reported in the conservative</p>
                <br>
                <p>Journal of the American Medical Association. Second, neither the author of the paper, Dr. Richard Kirkpatrick, nor the editorial staff of the journal questioned whether the witch doctor succeeded, where the practitioner of Western medicine appeared to have failed. Rather, the question that was posed at the end of the article was simply this: “By what mechanism had the witch doctor succeeded?”</p>
                <br>
                <p>But did he really succeed in ridding her of her lupus? There are half a dozen forms of this type of disease, many having a strong, genetic predisposition. The ethnic healer did not employ gene-splicing techniques to correct the mutation. The woman, undoubtedly, had a mild form of the disease, which had remained in remission for most of her life. It was only when belief in the power of a curse upset her biochemistry that the symptoms of lupus were able to appear. The witch doctor did not cure the woman of lupus; he cured her of her anxiety as only he could do in her culture.</p>
                <br>
                <p>So, instead of being an example of the power of one type of healing tradition over another, this case serves as a wonderful example of the power that emotions, driven by a belief, can have in shifting the delicate balance between good health and disease.</p>
                <br>
                <p>Just as the woman’s belief in the curse gave rise to the symptoms, her belief in the powers of the ethnic healer removed those symptoms. If a belief can alter the normal functioning of the healing system, imagine how powerful beliefs may be in improving other aspects of your life. Conversely, it’s really your beliefs about circumstances that are preventing you from doing those things you have put off for so long. In this section of the book, I’ll explain how your beliefs are blueprints - not for creating life, but for interpreting and finding meaning in life.</p>
                <br>
                <p>All of your life, you’ve been defining goals and setting objectives to get to where you want to go. But you never seem to arrive. Now, you’re going to do something different. You’re going to stop, look, and listen to those goals that you’ve been setting and see if they are connected to your deepest beliefs and values — and, if they are not connected, do you need to change your beliefs or your goals to create the necessary match? If you want to succeed in making positive changes in your life, you must connect your goals and objectives with your beliefs. The way you live your life must be consistent with what is near and dear to you.</p>
                <br>
                <p>What happens when your beliefs are not consistent with the way you are living? Your body finds some way to resist. It may take the form of impaired immunity. Perhaps you’ll become forgetful. Or you develop high blood pressure. Any conflict between your beliefs and your lifestyle, if allowed to continue, will take a toll on your health.</p>
                <br>
                <p>Sometimes, you need to change your lifestyle - the place you are working, the environment in which you are living, or the relationship in which you’re involved. Sometimes you need to change the belief – or at least take a closer look at the belief itself. Where did it come from? Is it really your belief or someone else’s? Is it helping you to achieve your goals, or is it hindering your progress? If you follow the guidelines presented in this book, you will find the way to convert beliefs that are holding you back into ones that will propel you forward.</p>
                </section>
</div>
