<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>What Is <em>A Belief?</em></h1>
                        </div>
                        <p>Merriam-Webster defines belief as “a state or habit of mind in which trust or confidence is placed in some person or thing.” Additionally, a belief is defined as “a tenet or body of tenets held by a group.” A belief is an entity in its own right. It also shapes your perception of the truth. You’ll soon realize that your beliefs impact every aspect of your life, from how your cells function to how you function in relationships.</p>
                        <br>
                        <p>The important thing is to know where any given belief came from and to understand how and why you internalized it – especially if it is a belief you want to change. You also need to recognize those beliefs you’ve been ignoring, along with those that have become habits and are preventing you from living the healthier, happier, enriched life you desire.</p>
                        <br>
                        <div class="text-content">
                              <div class="section-heading">
                        <ul>
                              <li>Let’s begin the process by identifying the 5 categories of beliefs. They are:
                                    <br>
                                    <br>
                                    <ol>
                                          <li>Core beliefs</li>
                                          <li>Cultural beliefs</li>
                                          <li>Hand-me-down beliefs</li>
                                          <li>Advertised beliefs</li>
                                          <li>Biological beliefs</li>
                                    </ol>
                              </li>
                        </ul>     
                        </div>
                        </div>    
                        <p>Core beliefs are your deepest convictions. Here’s an example of how they can impact on life and death decisions. It’s a comparison of how core beliefs affected the responses of two FBI agents I had an opportunity to meet while teaching at the FBI Academy in Quantico, Virginia</p>
                        <br>
                        <p>One agent was on a drug stakeout, attempting to apprehend a dealer who was armed with a fully automatic machine gun. The agent, armed with his government-issued, semi-automatic pistol, had taken cover behind a wall. Bullets were flying overhead when, suddenly, the shooting stopped. Suspecting the gunman had temporarily run out of ammunition, the agent stood up, took aim, and squeezed the trigger. He killed the criminal at a distance of more than 50 yards with a bullet through the heart. The other agent was working on a joint task force with a local police jurisdiction. He was sitting at a desk near the door when a deranged gunman came bursting in and began shooting. The agent pulled out his pistol and fired back at a distance of just a few feet. He emptied the clip, but not one of the bullets hit its target. Instead, the agent was shot and almost died from his injuries. This agent, like all members of his profession, was an excellent marksman.</p>
                        <br>
                        <p>What was the difference? The agent involved in the drug bust had played football, baseball, and basketball throughout his schooling. Under stress, his body automatically reverted to a familiar way of responding, based upon a belief that it was important to win. He had an attitude that said, “I’m not going to let that guy beat me. I’m going to win this contest,” and that’s exactly how he approached any challenging situation. Being under fire had the same, familiar feeling that he had experienced on the sports field during close games. He automatically went into a competitive stance under pressure</p>
                        <br>
                        <p>The other agent had never participated in competitive sports. He lacked that competitive edge. He was also a religious man who may have felt that it was wrong to take another person’s life. Although he would have been in full compliance with the Office of the Attorney General’s deadly force policy had he killed the criminal, to do so would have been in violation of his personal deadly force policy.</p>
                        <br>
                        <p>Just as a belief had left the woman with lupus vulnerable to attack by her immune system, another type of belief left the law enforcement agent vulnerable to a criminal. I am not suggesting that there is anything wrong with the second agent’s belief, or that a competitive approach to problems is always better. Problems arise when there is a mismatch between your belief-driven behavior and the environment in which you find yourself.</p>
                        <br>
                        <p>You need to know what your core beliefs are and avoid putting yourself in a position where your work or lifestyle may conflict with those beliefs. And you need to understand how deeply connected those beliefs are to your emotional brain, which, in turn, can impact your susceptibility to pain and illness.</p>
                        <br>
                        <p>Is your marriage heading towards the divorce court? Are you up to your neck in debt? Do you toss and turn at night unable to sleep? If your answer is yes, it’s little wonder your life is in a rut. This inner turmoil is keeping you in withdrawal mode, which is keeping you from completing even small tasks. Moving forward may require jump-starting your system. It has to begin with the beliefs that are shaping your decisions.</p>
                        <br>
                        <p>Cultural beliefs are those beliefs with which you grew up. They influence your choices and value system. The lady with lupus was influenced by a cultural belief. It was her belief in the curse that brought her latent illness out of remission, and it was her belief in the cure that brought the symptoms under control.</p>
                        <br>
                        <p>You acquire cultural beliefs from family, neighbors, religious institutions, and just about any organization or person to whom you are exposed or with whom you identify. And they can work for you as well as against you. Cultural beliefs can be very strong and can run very deeply. Furthermore, the earlier you’re exposed to such a belief, the more strongly it will be ingrained, and the more difficult it will be to get rid of. It may permanently shape your thought processes, rather like the wire restraints, which shape the branches of a bonsai tree.</p>
                        <br>
                        <p>Hand-me-down beliefs may come from any source, but most often they come to us from our parents or grandparents during our early childhood, at a time when we are most impressionable. They affect our career choices. Maybe you wanted to be a writer or an artist, but you always heard, “You can’t make a living painting or writing.” Relationships can be impacted, “If you want it done right, do it yourself.” And even change, “You can’t teach an old dog new tricks.”</p>
                        <br>
                        <p>My entire life has been changed by a hand-me-down belief, which proved to be wrong. At the impressionable age of seven, I had arrived home from school devastated over having failed a very important math exam.</p>
                        <br>
                        <p>The school that I attended in England was a carryover from the Dickens’ era, and we used to get caned across the hand with a bamboo stick if we failed an exam or made mistakes on homework. It was a very strict school. There had already been the physical punishment, and now I had the belief that I was a failure. I was an emotional wreck.</p>
                        <br>
                        <p>My mother, a wonderful lady who I loved dearly, tried to console me by saying, “Don’t worry about it. No one in our family has ever done well in math.” And I thought, “YES! I’m not really stupid. I just chose the wrong parents. It’s those darned ancestors who gave me a defective genetic blueprint.” So from that point on, I never applied myself to math. I did just enough work to keep from getting caned, and that was about it. And if I barely passed the course, I was happy as a clam that I got to go on to the next grade. I devoted all of my efforts to those classes that I did enjoy and that I did well in…then I went to graduate school, where I had to take statistics.</p>
                        <br>
                        <p>Followed by advanced statistics, which is, of course, higher math. And I realized, with the help of a darn good instructor, that not only is math not all that difficult, but it’s actually kind of fun, especially when I can see an application. And in my case, it was going to be a valuable tool that would enable me to pursue my professional objectives — a way to analyze the research data I would be collecting as a scientist. But, I often wondered how my life might have been different had it not been for that one, consoling statement from my mother. I might have become a CPA or an accountant. I might be working for the IRS, auditing your tax return and causing you stress, instead of talking to you about beliefs.</p>
                        <br>
                        <p>Advertised Beliefs. Let’s take a look at what you hear repeatedly and how it affects your beliefs. Consider the word stress. It’s used as a noun, a verb, and an adjective. And no matter how you use it, it usually has a negative connotation. I’m sure you’ve heard that ‘stress is bad for you.’ It’s one of the most promoted myths in our culture, and it sells more books, magazines, and audio programs than even sex these days. The fact is that stress is good for you. It’s a stimulus for physical, emotional, and spiritual growth. Problems arise when we fail to balance stress with recovery.</p>
                        <br>
                        <p>How about your immune system? Lots of advertised beliefs within the health industry promote the benefits of boosting your immune system with products…. echinacea, golden seal, garlic, tea tree oil, and green tea are just a few of the over-the-counter drugs people buy in an effort to ‘boost’ their immune system. Why do they do this? Because it is an advertised belief that boosting the immune system is the magical solution for all health problems. Well, that’s a very risky belief. Do you know that too much immunity is what characterizes people with multiple sclerosis or rheumatoid arthritis? That too much immunity is the cause of severe allergies? This advertised belief has helped the health food industry become a multi-billion dollar a year business.</p>
                        <br>
                        <p>Biological Beliefs. You may not remember the salad you had for lunch right before that serious car accident. Or the country song playing on the radio when the phone rang, and you learned of the unexpected death of a loved one. But now, every time your body is exposed to those cues, you experience the same fear or sadness that occurred at the time of the event. Of course, sometimes the opposite can occur.</p>
                        <br>
                        <p>A birthday, pizza restaurant, or photo may elicit memories of over-the-top ecstasy for someone you deeply love and care about. It’s a conditioned response, which is a form of learning. You also can think of this as a biological belief. Without any conscious awareness, your body believes the same circumstances exist, and it responds accordingly. In a subtle way, feelings triggered by such beliefs could be keeping you from doing the things you should be doing by triggering withdrawal-inducing emotions.</p>
                        <br>
                        <p>I am sometimes asked to testify as an expert witness in legal cases involving post-traumatic stress disorder. I remember one case, in particular, because it was so disheartening. A beautiful, young woman had been brutally assaulted. It happened in a car, and, thereafter, that brand of automobile, that song playing on the radio, and even that fragrance which she had been wearing triggered a response so powerful that it set off the same immune system illness experienced by the Philippine-American woman who was plagued by a different type of curse. I’ll tell you how you can change your beliefs in ways that will change your life for the better.</p>
            </section>
</div>
